body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #151515;/*#151515*/
}

.pre{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-color: #151515;
}

.map-canvas {
  text-align: center;
}
.map-canvas img {
  display: none;
}
.no-canvas .map-canvas img {
  display: inline-block;
  max-width: 60%;
  height: auto;

}

#canvas-map {
  max-width: 60%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.covid{
  margin: 0;
  padding: 0;
}

.covid h1{
  position: absolute;
  text-shadow: 0.2em 0.2em #000000;
  color: #ffffff;
   font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
  font-size: 320%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.covid h3{
  position: absolute;
  text-shadow: 0.3em 0.3em #000000;
  color: #ffffff;
   font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-size: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.impais{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.impaismundo{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.backinf, .backinfmap{
  position: absolute;
  width: auto;
  font-weight: 1;
  top: 85%;
  left: 95%;
  padding: 2%;
  transform: translate(-65%, -25%);
  -webkit-transform: translate(-65%, -25%);
  width: 50%;
}

.conf, .recu, .muer{
  float: left;
  padding-left: 4vh;
  padding-right: 4vh;
  text-align: center;
}

.backinf h1{
  font-size: 100%;
  margin-left: 9%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
  text-align: justify;
  color: #ffffff;
  display: inline;
}

.backinfmap h1{
  font-size: 80%;
  margin-left: 6%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
  text-align: justify;
  color: #ffffff;
  display: inline;
}

.backinf p{
  font-size: 60%;
  margin-left: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
  text-align: justify;
  font-weight: 1;
  display: table-cell;
  color: #ffffff;
  display: inline;
}

.backinfmap p{
  font-size: 60%;
  margin-left: 5%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
  text-align: justify;
  font-weight: 1;
  display: table-cell;
  color: #ffffff;
  display: inline;
}


.paisname{
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-6%, -48%);
  -webkit-transform: translate(-6%, -48%);
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2%;
  text-align: justify;
  color: #ffffff;
  font-weight: 1;
  font-size: 100%;
  border-bottom: 1px solid #ffffff;
}